# VSCode
.vscode/

# Python or Jupyter
__pycache__/
*.ipynb_checkpoints

# OS Files
.DS_Store
Thumbs.db

# Logs & Output
*.log

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Azure Data Factory
*.publishsettings
